.filters {
  background-color: #fcf8e3;
}

mat-list-item {
  border-bottom: 1px solid #eee;
}

mat-list-item:hover {
  cursor: pointer;
  background-color: #d9edf7;
}

a {
  text-decoration: none;
  color: black;
}

.filter-item {
  display: inline-block;
  margin-right: 10px;
}
