<mat-card class="filters">
  <mat-card-content>
    <div class="fullWidth centerWrapper">
      <mat-form-field>
        <mat-select [(ngModel)]="selectedFilter" placeholder="Filter name">
          <mat-option *ngFor="let filter of filters" [value]="filter">
            {{ filter }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input [(ngModel)]="selectedFilterValue" matInput
          [placeholder]="selectedFilter == 'rss' ? 'Sub Reddit name' : 'Username'">

      </mat-form-field>
      <div>
        <button mat-raised-button (click)="searchArticles()">
          Search
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-list>
  <mat-list-item *ngFor="let article of articles">
    <a [href]="'https://www.reddit.com' + article.data.permalink" target="_blank">{{article.data.title}}</a>
  </mat-list-item>
</mat-list>
