<mat-card class="filters">
  <mat-card-content>
    <div class="fullWidth centerWrapper">
      <mat-form-field class="filter-item">
        <mat-select [(ngModel)]="selectedFilter" placeholder="Filter name">
          <mat-option *ngFor="let filter of filters" [value]="filter">
            {{ filter }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="filter-item">
        <input [(ngModel)]="selectedFilterValue" matInput (keyup.enter)="searchArticles()" [placeholder]="selectedFilter == 'rss' ? 'Sub Reddit name' : 'Username'">

      </mat-form-field>
      <div class="filter-item">
        <button mat-raised-button (click)="searchArticles()">
          <mat-icon>search</mat-icon>
          Search
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<div>
  <a *ngFor="let article of articles" [href]="'https://www.reddit.com' + article.data.permalink" target="_blank">{{article.data.title}}</a>
</div>
