.filters {
  background-color: #fcf8e3;
}

a {
  border-bottom: 1px solid #eee;
}

a:hover {
  cursor: pointer;
  background-color: #d9edf7;
}

a {
  text-decoration: none;
  color: black;

  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 0 16px;
  position: relative;
  height: 48px;
}

.filter-item {
  display: inline-block;
  margin-right: 10px;
}
